<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RitsukageGif.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
        <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
    </runtime>
    <userSettings>
        <RitsukageGif.Settings>
            <setting name="RecordCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MemoryRecord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SobelThresholdFilter" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EdgeCheckOffset" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EdgeCheckThreshold" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EdgeCheckWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EdgeCheckHeight" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ScreenFrameProvider" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value>pack://application:,,,/Background.png</value>
            </setting>
            <setting name="RecordFrameFps" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RecordFrameScale" serializeAs="String">
                <value>2</value>
            </setting>
        </RitsukageGif.Settings>
    </userSettings>
</configuration>