name: CI Build

on: 
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build"
        required: true
        default: "main"

env:
  DOTNET_ROLL_FORWARD: "Major"
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: 1
  PR_PROMPT: "::warning:: Build artifact will not be uploaded due to the workflow is triggered by pull request."
  
jobs:
  build:
    name: Build
    runs-on: windows-latest
    strategy:
      matrix:
        os: [windows-latest]
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Install dependencies
        run: dotnet restore
      - name: Publish (Windows)
        env:
          IS_PR: ${{ !!github.head_ref }}
        run: |
          if ($env:IS_PR -eq "true") { echo $env:PR_PROMPT }
          dotnet publish src/RitsukageGif/RitsukageGif.csproj --configuration Release --framework net10.0-windows --output publish --no-self-contained --runtime win-x64 /p:PublishSingleFile=true
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: ${{ !github.head_ref }}
        with:
          name: RitsukageGif
          path: publish